body {
    background-color: #d9ddd7;
    font-family: Verdana;}

#pxlH1{
    color: #339933;
}

p {
    background-color: #6a7689;
    color: white;
    padding: 20px;
}

.highlight{

    color: yellow;
    border: 2px solid yellow;
    margin: 0% 20%;
    text-align: center;



}

a{
    color: white;

}
a:hover{
    color: green;
}